In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from os import listdir
import geopy.distance

In [13]:
conflict_df = pd.read_csv('../data/conflict_data_irq.csv')

In [14]:
conflict_df.drop(0, inplace=True)

In [15]:
conflict_df.columns

Index(['id', 'year', 'active_year', 'start_year', 'end_year',
       'type_of_violence', 'conflict_new_id', 'conflict_name', 'dyad_new_id',
       'dyad_name', 'side_a_new_id', 'gwnoa', 'side_a', 'side_b_new_id',
       'gwnob', 'side_b', 'number_of_sources', 'source_article',
       'source_office', 'source_date', 'source_headline', 'source_original',
       'where_prec', 'where_coordinates', 'adm_1', 'adm_2', 'latitude',
       'longitude', 'geom_wkt', 'priogrid_gid', 'country', 'country_id',
       'iso3', 'region', 'event_clarity', 'date_prec', 'date_start',
       'date_end', 'deaths_a', 'deaths_b', 'deaths_civilians',
       'deaths_unknown', 'low', 'best', 'high'],
      dtype='object')

In [16]:
conflict_df.replace(to_replace={'Al Anbār province':'Anbar',
                            'Nīnawá province':'Ninewa',
                           'Baghdād province':'Baghdad', 
                            'Dahūk province':'Dahuk', 
                          'Diyālá province':'Diyala',
                           'Kirkūk province':'Kirkuk',
                           'Şalāḩ ad Dīn province':'Salah al-Din'}, inplace=True)

In [30]:
conflict_df.replace(to_replace={'Abū Ghurayb district':'Abu Ghraib',
'Al Ba‘āj district':"Al-Ba'aj",
'Al Qā’im district':"Al-Ka'im",
'Al-Faris district':'Al-Fares',
'Hīt district':'Heet',
'Qaḑā’ ‘Ānah':'Ana',
'Qaḑā’ ad Dawr':'Al-Daur',
'Qaḑā’ al Fallūjah':'Falluja',
'Qaḑā’ al Ḩaḑr':'Hatra',
'Qaḑā’ al Ḩamdānīyah':'Al-Hamdaniya',
'Qaḑā’ al Khāliş':'Al-Khalis',
'Qaḑā’ al Maḩmūdīyah':'Mahmoudiya',
'Qaḑā’ al Mawşil':'Mosul',
'Qaḑā’ al Miqdādīyah':'Al-Muqdadiya',
'Qaḑā’ ar Ramādī':'Ramadi',
'Qaḑā’ ar Ruţbah':'Al-Rutba',
'Qaḑā’ ash Shaykhān':'Al-Shikhan',
'Qaḑā’ Balad':'Balad',
'Qaḑā’ Bayjī':'Baiji',
'Qaḑā’ Haditha':'Haditha',
'Qaḑā’ Khānaqīn':'Khanaqin',
'Qaḑā’ Kifrī':'Kifri',
'Qaḑā’ Sāmarrā':'Samarra',
'Qaḑā’ Sharqāţ':'Al-Shirqat',
'Qaḑā’ Tall ‘Afar':'Telafar',
'Qaḑā’ Tikrīt':'Tikrit',
'Qaḑā’ Zākhū':'Zakho',
'Sinjār district':'Sinjar',
'Tallkayf district':'Tilkaif',
'Tooz district':'Tuz Khurmatu',
'Zakho district':'Zakho'}, inplace=True)

In [19]:
gov_names = ['Anbar', 'Ninewa', 'Baghdad', 'Dahuk', 'Diyala', 'Salah al-Din']

In [31]:
district_names = ['Abu Ghraib', "Al-Ba'aj", "Al-Ka'im", 'Al-Fares', 'Heet', 'Ana', 'Al-Daur',
'Falluja', 'Hatra', 'Al-Hamdaniya', 'Al-Khalis', 'Mahmoudiya', 'Mosul', 'Al-Muqdadiya', 'Ramadi',
'Al-Rutba', 'Al-Shikhan', 'Balad', 'Baiji', 'Haditha', 'Khanaqin', 'Kifri', 'Samarra', 
'Al-Shirqat', 'Telafar', 'Tikrit', 'Zakho', 'Sinjar', 'Tilkaif', 'Tuz Khurmatu','Zakho']

In [ ]:
conflict_df = conflict_df[conflict_df['adm_1'].isin(gov_names)]

In [32]:
conflict_df = conflict_df[conflict_df['adm_2'].isin(district_names)]

In [49]:
conflict_df

,id,year,active_year,start_year,end_year,type_of_violence,conflict_new_id,conflict_name,dyad_new_id,dyad_name,...,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,low,best,high
1,114064.0,2014,1.0,2014,2014,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,2.0,2014-01-24,2014-01-25,0.0,0.0,1.0,7.0,8.0,8,8.0
3,114179.0,2014,1.0,2014,2014,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,2.0,2014-02-21,2014-02-22,6.0,0.0,0.0,0.0,6.0,6,6.0
4,114432.0,2014,1.0,2014,2014,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,2.0,2014-05-07,2014-05-08,0.0,0.0,0.0,7.0,7.0,7,7.0
5,143030.0,2014,1.0,2014,2014,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,2.0,2014-09-30,2014-10-01,7.0,7.0,0.0,0.0,14.0,14,14.0
6,196787.0,2015,1.0,2015,2015,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,2.0,2015-03-01,2015-03-02,0.0,50.0,0.0,0.0,50.0,50,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7465,274518.0,2018,1.0,2018,2018,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,1.0,2018-12-11,2018-12-11,0.0,2.0,0.0,0.0,2.0,2,2.0
7466,275067.0,2018,1.0,2018,2018,1.0,354.0,Turkey: Kurdistan,781.0,Government of Turkey - PKK,...,1.0,2018-12-13,2018-12-13,0.0,0.0,4.0,0.0,4.0,4,4.0
7470,277062.0,2018,1.0,2018,2018,1.0,354.0,Turkey: Kurdistan,781.0,Government of Turkey - PKK,...,1.0,2018-12-14,2018-12-14,0.0,2.0,0.0,0.0,2.0,2,2.0
7472,274534.0,2018,1.0,2018,2018,1.0,259.0,Iraq: Government,524.0,Government of Iraq - IS,...,1.0,2018-12-22,2018-12-22,0.0,4.0,0.0,0.0,4.0,4,4.0
7473,274540.0,2018,1.0,2018,2018,3.0,506.0,IS - Civilians,973.0,IS - Civilians,...,1.0,2018-12-25,2018-12-25,0.0,0.0,2.0,0.0,2.0,2,2.0

In [22]:
returnee_filepaths = [f for f in listdir("../data/returnees/") if f.endswith('.xlsx')]

In [53]:
%%time
outflow_filepaths = [s for s in listdir("../data/csvs/")]
out_df = pd.concat((pd.read_csv("../data/csvs/"+s) for s in outflow_filepaths), ignore_index=True)

CPU times: user 4.42 s, sys: 1.21 s, total: 5.64 s
Wall time: 6.87 s

In [54]:
out_df

,Unnamed: 0,Location ID,Place ID,Governorate,District,Location Name,Arabic Name,Latitude,Longitude,Families,...,Post September 14 Period of displacement.1,Post March 16 Period of displacement,Post April15 Period of displacement.1,Post 17 October 16 Period of displacement,Post March 16 Period of displacement.1,July 17 Period of displacement,Post 17 October 16 Period of displacement.1,July 17 Period of displacement.1,Jan19,date
0,0,1101001.0,7861.0,Dahuk,Amedi,Amedi,عمادية,37.092389,43.487857,147.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"May 26, 2016"
1,1,1101002.0,8171.0,Dahuk,Amedi,Aradin,ارادن,37.108611,43.319828,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"May 26, 2016"
2,2,1101003.0,7870.0,Dahuk,Amedi,Ashawa,اشاوا,37.024985,43.294194,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"May 26, 2016"
3,3,1101004.0,8189.0,Dahuk,Amedi,Bamarne,بامرني,37.120577,43.268689,178.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"May 26, 2016"
4,4,1101005.0,7770.0,Dahuk,Amedi,Chamanke,جمانكي,36.937956,43.412792,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"May 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394489,3836,3604015.0,22000.0,Qadissiya,Hamza,Hay Hussain,حي الحسين,31.716073,44.970706,72.0,...,29.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,"Jun 08, 2016"
394490,3837,3604016.0,25284.0,Qadissiya,Hamza,Salim village,قرية سالم,31.736118,44.976184,40.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Jun 08, 2016"
394491,3838,3604017.0,25281.0,Qadissiya,Hamza,Tabu,الطابو,31.659836,45.009918,28.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"Jun 08, 2016"
394492,3839,3604018.0,25282.0,Qadissiya,Hamza,Al-Taraf Al-Sharqi,الطرف الشرقي,31.719968,44.976969,26.0,...,8.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,"Jun 08, 2016"
394493,3840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jun 08, 2016"

In [ ]:
out_df['date'] = pd.to_datetime(out_df['date'])

In [51]:
out_df

,Location ID,Place ID,Governorate,District,Location Name,Arabic Name,Latitude,Longitude,Families,Individuals,...,Post September 14 Period of displacement.1,Post March 16 Period of displacement,Post April15 Period of displacement.1,Post 17 October 16 Period of displacement,Post March 16 Period of displacement.1,July 17 Period of displacement,Post 17 October 16 Period of displacement.1,July 17 Period of displacement.1,Jan19,date
0,1101001.0,7861.0,Dahuk,Amedi,Amedi,عمادية,37.092389,43.487857,156.0,936.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-07
1,1101002.0,8171.0,Dahuk,Amedi,Aradin,ارادن,37.108611,43.319828,59.0,354.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-07
2,1101003.0,7870.0,Dahuk,Amedi,Ashawa,اشاوا,37.024985,43.294194,61.0,366.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-07
3,1101004.0,8189.0,Dahuk,Amedi,Bamarne,بامرني,37.120577,43.268689,245.0,1470.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-07
4,1101005.0,7770.0,Dahuk,Amedi,Chamanke,جمانكي,36.937956,43.412792,127.0,762.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-01-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49026,3604015.0,22000.0,Qadissiya,Hamza,Hay Hussain,حي الحسين,31.716073,44.970706,77.0,462.0,...,29.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-02-17
49027,3604016.0,25284.0,Qadissiya,Hamza,Salim village,قرية سالم,31.736118,44.976184,40.0,240.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-02-17
49028,3604017.0,25281.0,Qadissiya,Hamza,Tabu,الطابو,31.659836,45.009918,27.0,162.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-02-17
49029,3604018.0,25282.0,Qadissiya,Hamza,Al-Taraf Al-Sharqi,الطرف الشرقي,31.719968,44.976969,30.0,180.0,...,10.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-02-17
49030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-17

In [23]:
ret_df = pd.concat((pd.read_excel("../data/returnees/"+f).assign(date=f[35:47])
                  for f in returnee_filepaths), ignore_index=True)

In [35]:
ret_df

,Location ID,Place_ID,Governorate,District,Location_name,Arabic_name,Latitude,Longitude,Returnee Families,Returnee Individuals,...,Pre June14 Period of displacement,June July14 Period of displacement,August14 Period of displacement,Post September 14 Period of displacement,Post April15 Period of displacement,Post March 16 Period of displacement,Post 17 October 16 Period of displacement,July 17 Period of displacement,Jan19,date
0,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,705.0,4230.0,...,0.0,0.0,705.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-05
1,1204011.0,13674.0,Erbil,Makhmur,Shahidan,شهيدان,35.780756,43.585956,510.0,3060.0,...,0.0,0.0,510.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-05
2,1204016.0,13501.0,Erbil,Makhmur,Kurdistan,كوردستان,35.767176,43.576238,280.0,1680.0,...,0.0,0.0,280.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-05
3,1204017.0,13675.0,Erbil,Makhmur,Sherwany,شيرواني,35.775643,43.584228,660.0,3960.0,...,0.0,0.0,660.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-05
4,1204018.0,27244.0,Erbil,Makhmur,Saray(markez bazar),سراي(مركز بازار),35.775451,43.577269,218.0,1308.0,...,0.0,0.0,218.0,0.0,0.0,0.0,0.0,0.0,0.0,2017-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88360,2809030.0,27239.0,Salah al-Din,Tuz Khurmatu,Hay Al-Teen,حي التين,34.725080,44.580515,43.0,258.0,...,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-08-17
88361,2809031.0,27240.0,Salah al-Din,Tuz Khurmatu,Hay Sabaa Tamoz,حي سبعة تموز,34.724910,44.590226,20.0,120.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-08-17
88362,2809032.0,27241.0,Salah al-Din,Tuz Khurmatu,Hay Wahid Huzayran,حي واحد حزيران,34.719240,44.581716,30.0,180.0,...,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-08-17
88363,2809033.0,27242.0,Salah al-Din,Tuz Khurmatu,Qara Naz village,قرية قرناز,34.785884,44.570116,186.0,1116.0,...,170.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016-08-17
88364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-17

In [ ]:
ret_df.dropna(how='all', inplace=True)

In [36]:
ret_df['date'] = pd.to_datetime(ret_df['date'])

In [37]:
def trim_all_columns(df):
    """
    Trim whitespace from ends of each value across all series in dataframe
    """
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)

In [38]:
ret_df = trim_all_columns(ret_df)

In [ ]:
ret_df.columns

In [39]:

ret_df.sort_values(['Location_name', 'date'], inplace=True)

In [40]:
ret_df.rename(columns={'Pre June14 Period of displacement':'disp_preJun14',
                      'June July14 Period of displacement':'disp_JunJuly14',
                      'August14 Period of displacement':'disp_Aug14',
                      'Post September 14 Period of displacement':'disp_postSep14',
                      'Post April15 Period of displacement':'disp_postApr15',
                      'Post March 16 Period of displacement':'disp_postMar16',
                      'Post 17 October 16 Period of displacement': 'disp_post17Oct16',
                      'July 17 Period of displacement':'disp_Jul17',
                      'Jan19':'disp_Jan19'}, inplace=True)

In [ ]:
ret_df

In [42]:
ret_df.dropna(how='any', inplace=True)

In [43]:
ret_df['ret_delta'] = ret_df.groupby(['Location_name'])['Returnee Families'].transform(lambda x: x.diff())

In [44]:
ret_df.sort_values(['Location_name', 'date'], inplace=True)

In [45]:
ret_df.reset_index(inplace=True)

In [ ]:
#ret_df.remove(column='index')

In [ ]:
ret_df

In [46]:
ret_df[ret_df['Location_name'] == 'Gwer']

,index,Location ID,Place_ID,Governorate,District,Location_name,Arabic_name,Latitude,Longitude,Returnee Families,...,disp_JunJuly14,disp_Aug14,disp_postSep14,disp_postApr15,disp_postMar16,disp_post17Oct16,disp_Jul17,disp_Jan19,date,ret_delta
14022,35528,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1580.0,...,0.0,955.0,0.0,0.0,0.0,0.0,625.0,0.0,2018-10-15,NaN
14023,27988,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1824.0,...,0.0,1199.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-02-28,244.0
14024,78671,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1824.0,...,0.0,1199.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-04-30,0.0
14025,38829,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1824.0,...,0.0,1199.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-06-30,0.0
14026,579,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1844.0,...,0.0,1219.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-08-31,20.0
14027,20172,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1844.0,...,0.0,1219.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-10-31,0.0
14028,29585,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2019-12-31,382.0
14029,7400,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-02-29,0.0
14030,10704,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-04-29,0.0
14031,56667,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-06-30,0.0
14032,85821,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-08-31,0.0
14033,73568,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-10-31,0.0
14034,61933,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-12-31,0.0
14035,51453,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2021-02-28,0.0

In [ ]:
ret_df.at[14022, 'ret_delta']

In [47]:
#should be functionized 
for i in range(len(ret_df)):
    if np.isnan(ret_df.at[i, 'ret_delta']):
        ret_df.at[i, 'ret_delta'] = ret_df.at[i, 'Returnee Families']
    else:
        None

In [48]:
ret_df[ret_df['Location_name'] == 'Gwer']

,index,Location ID,Place_ID,Governorate,District,Location_name,Arabic_name,Latitude,Longitude,Returnee Families,...,disp_JunJuly14,disp_Aug14,disp_postSep14,disp_postApr15,disp_postMar16,disp_post17Oct16,disp_Jul17,disp_Jan19,date,ret_delta
14022,35528,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1580.0,...,0.0,955.0,0.0,0.0,0.0,0.0,625.0,0.0,2018-10-15,1580.0
14023,27988,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1824.0,...,0.0,1199.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-02-28,244.0
14024,78671,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1824.0,...,0.0,1199.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-04-30,0.0
14025,38829,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1824.0,...,0.0,1199.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-06-30,0.0
14026,579,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1844.0,...,0.0,1219.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-08-31,20.0
14027,20172,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,1844.0,...,0.0,1219.0,0.0,0.0,0.0,0.0,625.0,0.0,2019-10-31,0.0
14028,29585,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2019-12-31,382.0
14029,7400,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-02-29,0.0
14030,10704,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-04-29,0.0
14031,56667,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-06-30,0.0
14032,85821,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-08-31,0.0
14033,73568,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-10-31,0.0
14034,61933,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2020-12-31,0.0
14035,51453,1204004.0,13352.0,Erbil,Makhmur,Gwer,كوير,36.043816,43.499061,2226.0,...,0.0,1451.0,0.0,0.0,0.0,0.0,775.0,0.0,2021-02-28,0.0

In [ ]:
conflict_df.columns

In [ ]:
conflict_df['date_start'] = pd.to_datetime(conflict_df['date_start'])

In [ ]:
conflict_df['date_end'] = pd.to_datetime(conflict_df['date_start'])

In [ ]:
conflict_df.columns

In [ ]:
conflict_df['adm_2'].unique()

In [ ]:
ser = pd.Series(index=ret_df.index, data=0)

In [ ]:
ret_df['District'].unique()

In [ ]:
print(7473*26000)

In [ ]:
for ix, coord in enumerate(zip(conflict_df['latitude'], conflict_df['longitude'])):
    for idx, rcoord in enumerate(zip(ret_df['Latitude'], ret_df['Longitude'])):
        if geopy.distance.distance(coord, rcoord).km > 10:
            print(idx)
            ser[idx] += 1
        else:
            print(idx)